{% extends "base.html" %}
{% load static %}


{% block contenido %}

    <h1 class="p-8">Lista de coaches</h1>
    <br>
    <div class="d-flex justify-content-center">
        <table class="table table-sm w-auto">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
              </tr>
            </thead>

            <tbody>
                {% for usuario in usuarios %}

              <tr>
                <td> {{usuario.usuario}}</td>
                <td>{{usuario.rol}}</td>
              </tr>
            </tbody>
            {% endfor %}

          </table>
        </div>
       

      
{% endblock %}