{% extends "base.html" %}
{% load static %}


{% block contenido %}

    <h1 class="p-8">Lista de alumnos</h1>
    <br>

    <a href="{% url 'alumnos lista' %}">Alumnos</a>
        {% for alumno in alumnos %}
        <div class="">
            <li>
                Nombre: {{alumno.nombre}}
                <p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                            <a href="{% url 'alumnos detalle' alumno.pk %}">Ver</a>

                        </li>  
                        <li class="list-group-item">
                            <a href="{% url 'alumnos editar' alumno.pk %}">Editar</a>
                        </li>
                        
                        <li class="list-group-item">
                            
                            <a href="{% url 'alumnos eliminar' alumno.pk %}">Eliminar</a>

                        </li>

                    </ul>
                                      
                </p>
            </li>
        </div>
            
        
        {% endfor %}
{% endblock %}