{% extends "base.html" %}
{% load static %}

{% block contenido %}

<!-- ======= Hero No Slider Section ======= -->
<section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h2>Nuestra Historia</h2>
          <p>Moderna Gym nace en el 2023 con la misión de convertirse en un centro que promueve la salud y bienestar. Buscamos que nuestro socios encuentren un oasis de endorfimans en nuestros centros de entrenamiento y que nuestros coaches potencien su dominio y lidreazgo para formar la mejor comunidad fit de la región </p>
        </div>
      </div>
    </div>
  </section><!-- End Hero No Slider Sectio -->

{% endblock %}